/* 

location :- assets/css/pdf_style.css

*/

/* tcpdf css start */
.exportPdfCss {
	width: 100%;
	padding: 10px;
}

.exportPdfCss tr th {
	text-align: center;
}
/* tcpdf css over */

/* 

End of file :- 

location :- assets/css/pdf_style.css

*/